.currency-wrapper {
  border: 2px solid #999999;
  border-radius: 5px;
  text-align: center;
  padding: 32px;
  width: fit-content;
  margin: 16px;
}
#chart {
  background: #fff;
  width: 90%;
  margin: 1em auto;
}

.margin-end--16 {
  margin-right: 16px;
}
.grid-center {
  display: flex;
  justify-content: center;
}
.margin-top--32 {
  margin-top: 32px;
}
.historical-rates {
  margin-top: 64px;
}
.historical-rates__heading {
  text-align: center;
}
.margin-top--16 {
  margin-top: 16px;
}
